
/* --------------------------------------------------color---- */
body {
    background-color: #bce0f8;
    color: black;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
    color: red;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

.zonk {
    color: whitesmoke;
    background-color: black;
}

.green {
    color: green;
}

.bg-footer {
    background-color: #507DBC;
    color: whitesmoke;
}

.bg-table {
    background-color: #FBF5F3;
    color: whitesmoke;
}

.bg-drk {
    background-color: #283044 ;
    color: whitesmoke;
}
/* -----------------------------------------------------style */

.high {
    min-height: 80px;
    object-fit:cover;
}

footer {
    padding-top: 5%;
}

.right {
    float: right;
}

.center {
    text-align: center;
    object-position: center;
}

.disabled {
    display: none;
}

.padding {
    padding: 10%;
}

.padding-bottom {
    padding-bottom: 5%;
}

.large {
    height: 100%;
    width: 100%;
}

.wide {
    width: 100%;
}

.right {
   text-align: right;
}
/* --------------------------------------------------------- First level-- */

.table {
    height: 100%;
    padding: 8% 10% 5%;
    margin: 0;
    text-align: center;
}

.equal-first {
    height: 100%;    
    border: 2px solid  black ;

}

/* ----------------------------------------------------------Footer  */

footer {
    position: static;
    left: 0;
    right: 0;
    bottom: 0;
}

i {
    text-decoration: none;
}
.social i {
    font-size: 24px;
    color: #fafafa;
    text-align: center;
    padding: 15px;

    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.social i:hover {
    
    color: #0A122A;
    font-size: 30px;
}

/* ----------------------------------------------------------Contact  */

.contact-form {
    padding: 10%;
    max-width: 80%;
}